{% extends 'flatpages/default.html' %}

{% block title %}
{{ flatpage.title }}
{% endblock title %}

{% block content %}

<p style="text-align: center;"><img src="https://img.razrisyika.ru/kart/51/202935-anime-nyashki-12.jpg"
alt="" width="120" height="120"/><strong><img
src="https://html5-editor.net/tinymce/plugins/emoticons/img/smiley-embarassed.gif"
alt="embarassed" /><em>ВСЕМ <span style="color: #ff00ff;">ПРИВЕТ!!!!</span>
Я <span style="color: #cc99ff;">НЯЩК</span><img src="https://html5-editor.net/tinymce/plugins/emoticons/img/smiley-embarassed.gif"
alt="embarassed" /></em></strong></p>

{{ flatpage.content }}
{% endblock content %}